@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #212121;
  padding-top: 2px;
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  overflow-y: hidden;
}
body main {
  max-width: 1400px;
}
@media (max-width: 768px) {
  body {
    padding-left: 0px;
    z-index: 1000;
    width: 100%;
    height: auto;
  }
}

.close-search {
  display: block;
}

.container {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .container {
    padding: 5px 0;
  }
}

@media (max-width: 768px) {
  .container-2 {
    display: inline-block;
    padding: 0px 20px;
  }
}

header {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #68962f;
  padding: 0 170px;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
}
@media (max-width: 768px) {
  header {
    margin: 0px;
    height: 70px;
    padding: 0px 10px;
  }
}

.grid3 {
  max-width: 33%;
  width: 33%;
  height: auto;
  padding: 0 0;
  text-align: center;
  float: left;
}

.clear {
  clear: both;
}

.logo {
  max-width: 70%;
  fill: #68962f;
  margin-top: 18px;
  padding-left: 20px;
  text-align: center;
  display: table;
  scale: 0.6;
}

.logo svg {
  width: 100%;
  fill: #065e8a;
}

.logo svg .simboloLogo {
  fill: #68962f;
}

.info-topo {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 65px 0;
}
.info-topo.direita {
  padding-left: 0px;
}
@media (max-width: 768px) {
  .info-topo {
    display: none;
  }
}

.busca figure {
  float: left;
  display: flex;
}

.busca svg:hover {
  animation: bounce 0.9s ease-out;
}

.busca svg {
  fill: #065e8a;
  max-width: 20px;
  margin-left: 0px;
}

.busca {
  float: left;
  position: relative;
}

.data-busca {
  width: 100%;
  text-align: left;
  height: 20px;
}

.data-busca p {
  color: #c2c2c2;
  padding-left: 9px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
  font-weight: 300;
}

.divisor {
  width: 1px;
  height: 30px;
  background-color: #faeef5;
  content: " ";
  float: left;
}

.data-busca a {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-top: 1px;
  text-decoration: none;
  color: #065E8A;
  font-size: 10px;
  font-weight: 900;
}

.info-topo #tel,
#location,
#data-topo {
  display: inline-flex;
  align-items: right;
  text-align: right;
  vertical-align: middle;
  font-weight: 500;
}

.temp {
  display: flex;
  vertical-align: middle;
  color: #065E8A;
  fill: #065E8A;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  scale: 0.8;
}

#tel img {
  text-align: center;
  vertical-align: middle;
  max-width: 18px;
  max-height: 20px;
  margin-right: 7px;
}

.direita a {
  text-decoration: none;
  color: #C2C2C2;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

#cidade {
  width: auto;
  font-weight: bold;
  color: #757575;
  font-size: 11px;
  padding-top: 4px;
  padding-left: 10px;
  font-weight: 700;
  height: 20px;
}

#location p {
  font-weight: bold;
  color: #c2c2c2;
  font-size: 11px;
  padding-bottom: 15px;
  padding: 10px;
}

/* Estilos para o menu de navegação */
#navbar {
  padding: 0px;
  text-align: left;
  display: table;
  font-size: 13px;
  width: 100%;
}
@media (max-width: 768px) {
  #navbar {
    display: none;
  }
}

.nav-list {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 0px;
}

.nav-list li {
  margin: 0 0px;
  display: inline-block;
  margin-right: 25px;
}

.nav-list a {
  text-decoration: none;
  color: #065e8a;
  display: block;
  font-weight: 400;
}

.nav-list a:hover {
  color: #065e8a;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
}

/* INICIO CSS DO SUB-MENU ESPECIAIS */
#navbar .sub-menu {
  display: none;
  position: absolute;
  background-color: #68962f;
  z-index: 300;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  left: 220px;
  animation: slideDown 0.5s ease-in-out;
  margin-top: 8px;
}

#navbar .sub-menu ul {
  width: 100%;
}

#navbar .sub-menu li {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px #ffffff;
}

#navbar .sub-menu li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* FIM CSS DO SUB-MENU ESPECIAIS */
.sub-menu-especiais:after {
  content: "▼";
  margin-top: -10px;
  display: flex;
  font-size: 5px;
  float: left;
  padding-left: 63px;
  padding-top: 3px;
  color: #065e8a;
}

.sub-menu-especiais li {
  position: relative;
}

.sub-menu-editorias:after {
  content: "▼";
  margin-top: -10px;
  display: flex;
  font-size: 5px;
  float: left;
  padding-left: 59px;
  padding-top: 3px;
  color: #065e8a;
}

/* INICIO CSS DO SUB-MENU EDITORIAS */
#navbar .sub-menu2 {
  display: none;
  position: absolute;
  background-color: #68962f;
  z-index: 300;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  left: 420px;
  animation: slideDown 0.5s ease-in-out;
  margin-top: 8px;
}

#navbar .sub-menu2 ul {
  width: 100%;
}

#navbar .sub-menu2 li {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px #ffffff;
}

#navbar .sub-menu2 li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* FIM CSS DO SUB-MENU EDITORIAS */
/* INICIO CSS DO SUB-MENU ESPECIAIS */
#navbar .sub-menu3 {
  display: none;
  position: absolute;
  background-color: #68962f;
  z-index: 300;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  left: 1020px;
  animation: slideDown 0.5s ease-in-out;
  margin-top: 8px;
}

#navbar .sub-menu3 ul {
  width: 100%;
}

#navbar .sub-menu3 li {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px #ffffff;
}

#navbar .sub-menu3 li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* FIM CSS DO SUB-MENU ESPECIAIS */
#navbar .sub-menu-editorias .sub-menu {
  top: 27%;
  left: 320px;
}

#navbar .sub-menu-editorias li {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  margin-left: 13px;
  justify-content: center;
  padding-right: 0;
  border-bottom: solid 1px #ffffff;
}
#navbar .sub-menu-editorias li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

.especiais-right {
  margin-left: 515px;
  float: right;
}

.especiais-right:after {
  content: "▼";
  margin-top: -10px;
  font-size: 5px;
  float: right;
  padding-left: 63px;
  padding-top: 3px;
  color: #065e8a;
}

#destaques {
  width: 65%;
  float: left;
  height: auto;
  padding: 0 0 0 170px;
}
@media (max-width: 768px) {
  #destaques {
    width: 100%;
    padding: 0 0 0 0;
    padding-top: 5px;
  }
}

.news-left {
  width: 34%;
  float: left;
  padding-right: 10px;
}

.image-overlay-videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
  /* Evita que o degradê interfira com os elementos subjacentes */
  border-radius: 8px;
  z-index: 6;
}

.image-overlay-news-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 103%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
  /* Evita que o degradê interfira com os elementos subjacentes */
  border-radius: 8px;
  z-index: 6;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
  /* Evita que o degradê interfira com os elementos subjacentes */
  border-radius: 8px;
  z-index: 6;
}

.banner {
  width: 85%;
  justify-content: center;
  padding-left: 170px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  .banner {
    display: none;
  }
}

.news1 {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px 0px 10px 0;
}

.text-news-left {
  width: 100%;
  position: absolute;
  bottom: 1%;
  left: 0;
  z-index: 10;
  padding: 20px;
}

.news-left img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

#desktop-visible {
  padding: 10px 0;
}

.text-news-left span {
  font-size: 12px;
  color: #ffffff;
}

.text-news-left h2 {
  color: #ffffff;
  font-size: 13px;
  margin-top: 3px;
}

.news-left figure {
  max-width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.news-main {
  width: 65%;
  height: 308px;
  float: left;
  position: relative;
  z-index: 1;
  padding: 0;
}

.news-main figure {
  max-width: 100%;
  width: 100%;
  height: 103%;
}

.news-main figure img {
  max-width: 100%;
  width: 100%;
  display: flex;
  border-radius: 8px;
  height: 100%;
}

.text-news-main {
  width: 90%;
  max-width: 90%;
  position: absolute;
  bottom: 5%;
  left: 0;
  margin: 0 15px;
  z-index: 11;
}

.text-news-main span {
  font-size: 1.2rem;
  color: #ffffff;
}

.text-news-main h2 {
  color: #ffffff;
  margin-top: 5px;
}

#news {
  width: 30%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 170px 0 0;
}

@media (max-width: 768px) {
  #news {
    width: 350px;
    font-size: 10px;
    margin-left: 30px;
    padding: 10px 0;
  }
  #news h2 {
    font-size: 20px;
    color: #065e8a;
    margin-bottom: 5px;
  }
  .last-news {
    padding: 5px 0 5px 0;
  }
  .last-news-text p {
    color: #68962f;
    font-weight: 300;
    margin: 0;
    font-size: 11px;
    line-height: 1.2;
    margin-top: 0px;
  }
  .last-news-text a {
    font-size: 13px;
  }
  .last-news-date {
    width: 40px;
    color: #000000;
    height: 55px;
    /*border: 1px solid;*/
  }
  .last-news {
    border-top: 1px solid #d1d1d1;
    padding: 5px 0 5px 0;
  }
  .last-news-text a {
    text-decoration: none;
    font-size: 9px;
    color: #212121;
    margin: 0;
    line-height: 1;
    font-weight: bold;
    text-align: justify;
  }
}
.last-news-text p :hover {
  color: #32ac2e;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
  text-decoration: none;
}

.last-news-text p {
  color: #68962f;
  margin: 0;
  font-size: 9px;
  line-height: 1.2;
}

.last-news {
  padding: 10px 0 5px 0;
  margin-bottom: 10px;
  border-top: 1px solid #d1d1d1;
}

.last-news-text {
  width: 85%;
  max-width: 85%;
}

.last-news-date {
  font-size: 8px;
  color: #C2C2C2;
  width: 20%;
  padding: 1px;
  float: left;
  height: 50px;
}

#news h2 {
  font-size: 17px;
  color: #065e8a;
  padding-bottom: 10px;
}

/*#busca input {
  padding: 10px;
  color: #888585;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-left: 1px solid;
}
*/
.hamburger {
  display: none;
  cursor: pointer;
  color: #86c23c;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 30px;
    float: left;
    padding-top: 17px;
    padding-left: 10px;
  }
}

.menu,
.search-mobile,
.news-main-mobile {
  display: none;
}

.button-news {
  padding: 17px 1px;
  width: 100%;
  color: #065e8a;
  background-color: white;
  border: 1px solid #065e8a;
  font-weight: 800;
  margin: 10px 0;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  line-height: 0px;
}
@media (max-width: 768px) {
  .button-news {
    padding: 25px 0px;
    font-size: 13px;
    font-weight: 800;
  }
}

.button-news-colunistas {
  padding: 7px 1px;
  width: 117%;
  color: #065e8a;
  background-color: white;
  border: 1px solid #065e8a;
  font-weight: 800;
  margin: 26px 0;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
}
@media (max-width: 768px) {
  .button-news-colunistas {
    width: 125%;
    padding: 13px 5px;
    margin: 11px -30px;
    font-size: 13px;
  }
}

.news-down {
  float: left;
  width: 215px;
  margin-top: 1px;
}
.news-down h6 {
  margin-top: 8px;
  color: #68962f;
  font-weight: normal;
}
.news-down h3 {
  color: #212121;
  font-weight: 900;
  font-size: 13px;
  margin-top: 3px;
}
.news-down h3 a {
  color: #212121;
}

.margin-right {
  margin-right: 10px;
}

.news-down img {
  border-radius: 4px;
  max-width: 97%;
  scale: 1;
}

.news-down-text {
  font-size: 15px;
}

.news-down a:hover {
  color: #68962f;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
  text-decoration: none;
}

.button-news:hover {
  text-decoration: none;
  background-color: #0e80b9;
  color: white;
}

.banner-last {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  margin-top: 50px;
}

.banner-last img {
  width: 80%;
  padding-top: 15px;
  padding-left: 300px;
  padding-bottom: 15px;
}
.banner-last img .last-banner {
  width: 55%;
  margin-left: 290px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.publicitario {
  width: 75%;
  height: auto;
  padding: 10px 0px;
  border-top: 1px solid #dfd9d9;
  margin-left: 170px;
  margin-bottom: 123px;
}
@media (max-width: 768px) {
  .publicitario {
    width: 100%;
    height: auto;
    border-top: 1px solid #dfd9d9;
    margin-left: 0;
    padding: 0px;
  }
}

.espaco-publicitario {
  width: 50%;
  float: left;
}
@media (max-width: 768px) {
  .espaco-publicitario {
    width: 100%;
    display: block;
    border-bottom: 1px solid #dfd9d9;
    padding-bottom: 20px;
  }
}

.espaco-publicitario h2 {
  color: #065e8a;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  margin-left: 170px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .espaco-publicitario h2 {
    color: #065e8a;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    margin: 40px 0px 30px;
  }
}

.publicitario h3 {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .publicitario h3 {
    font-size: 21px;
  }
}

.img-publicitario {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

.publicitario a {
  color: #68962F;
  width: 100%;
}

.publicitario figure {
  width: 35%;
  margin-right: 10px;
  float: left;
}
@media (max-width: 768px) {
  .publicitario figure {
    width: 100%;
    display: block;
  }
}

.text-publicitario {
  width: 60%;
  float: left;
  margin-top: 12px;
}
@media (max-width: 768px) {
  .text-publicitario {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}

.videos {
  width: 20%;
  margin-left: 32px;
  float: left;
}
.videos h4 {
  color: #065e8a;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  width: 95%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfd9d9;
  padding-bottom: 10px;
  margin-left: 10px;
}
.videos h3 {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .videos h3 {
    padding-bottom: 10px;
  }
}

.video-destaque {
  width: 100%;
  position: relative;
  min-height: 130px;
  margin: 0 0;
}
.video-destaque figure {
  width: 95%;
}
.video-destaque img {
  width: 100%;
  border-radius: 4px;
}

.text-video-destaque {
  width: 100%;
  position: absolute;
  top: 35px;
  z-index: 10;
  right: 4px;
  padding: 15px;
  text-align: left;
}
@media (max-width: 768px) {
  .text-video-destaque {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 105px;
  }
}
.text-video-destaque h4 {
  color: #ffffff;
  font-size: 15px;
  margin-top: 3px;
}

.colunistas {
  width: 26%;
  margin-left: 10px;
  float: left;
}
.colunistas h4 {
  color: #065e8a;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  width: 80%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfd9d9;
  padding-bottom: 10px;
}
.colunistas h6 {
  color: #68962F;
  font-size: 8px;
  margin-bottom: 2px;
}
.colunistas p {
  color: #212121;
  font-size: 12px;
  font-weight: 700;
}
.colunistas figure {
  float: left;
  width: 40px;
  margin: 0 10px 0 0;
}
.colunistas img {
  border-radius: 50px;
  width: 100%;
}

.text-colunistas {
  float: left;
  width: 80%;
  margin-top: 10px;
}

.colunista {
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #dfd9d9;
}

.button-colunistas {
  width: 70%;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.grid-rodape {
  width: 100%;
  border: 0;
  border-top: 3px solid #68962f;
  padding: 0 170px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .grid-rodape {
    width: 100%;
    border: 0;
    border-top: 3px solid #68962f;
    padding: 0;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    justify-content: space-around;
  }
}
.grid-rodape .logo-rodape {
  max-width: 100%;
  fill: #68962f;
  margin-top: 29px;
  margin-left: 0;
}
@media (max-width: 768px) {
  .grid-rodape .logo-rodape {
    max-width: 100%;
    width: 100%;
    fill: #68962f;
    margin-top: 0px;
    margin-left: 0;
    height: 120px;
    margin-bottom: 30px;
  }
}
.grid-rodape .logo-rodape svg {
  width: 65%;
  fill: #065e8a;
}
@media (max-width: 768px) {
  .grid-rodape .logo-rodape svg {
    width: 100%;
    fill: #065e8a;
    scale: 0.5;
  }
}
.grid-rodape .logo-rodape svg .simboloLogo {
  fill: #68962f;
}
@media (max-width: 768px) {
  .grid-rodape {
    fill: #68962f;
  }
}
.grid-rodape ul {
  list-style: none;
  font-weight: 100;
}
@media (max-width: 768px) {
  .grid-rodape ul {
    justify-content: center;
  }
}
.grid-rodape li a {
  font-size: 10px;
  color: #065e8a;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  font-size: 10px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .grid-rodape li a {
    line-height: 16px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
  }
}
.grid-rodape li a:hover {
  color: #45a7d8;
}
.grid-rodape h5 {
  color: #c2c2c2;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 21px;
  font-family: sans-serif;
}
@media (max-width: 768px) {
  .grid-rodape h5 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
}

.email-logo {
  width: 100%;
  height: 100%;
  font-size: 11px;
  color: #757575;
  font-weight: 800;
  margin: 10px 0px;
}
@media (max-width: 768px) {
  .email-logo {
    margin-left: 27%;
  }
}

.info-rodape {
  width: 25%;
  text-align: left;
  float: left;
}
.info-rodape p {
  display: block;
  margin-bottom: 7px;
  color: #C2C2C2;
  font-weight: 700;
  padding-bottom: 3px;
}
@media (max-width: 768px) {
  .info-rodape p {
    font-weight: normal;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .info-rodape {
    width: 100%;
    float: none;
    display: table;
  }
}

.telefone-rodape svg {
  width: 10px;
  height: auto;
  fill: #fff;
}

.telefone-rodape {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: #c2c2c2;
  font-weight: normal;
  margin-bottom: 5px;
  width: 100%;
}
@media (max-width: 768px) {
  .telefone-rodape {
    display: table;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 7px;
  }
}

.telefone-rodape .svg-rodape {
  width: 15px;
  background-color: #c2c2c2;
  border-radius: 4px;
  height: 15px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 3px;
}
@media (max-width: 768px) {
  .telefone-rodape .svg-rodape {
    display: flex;
    margin-left: 37%;
    margin-right: 5px;
  }
}

.servicos-footer,
.institucionais-footer {
  width: 15%;
  height: auto;
  float: left;
  margin: 30px 0px;
}
@media (max-width: 768px) {
  .servicos-footer,
  .institucionais-footer {
    width: 50%;
    text-align: center;
    border-top: 1px solid #c2c2c2;
    margin-top: 30px;
    padding-top: 15px;
  }
}

.servicos-footer {
  padding-left: 0px;
}

.editorias-footer {
  width: 42%;
  height: auto;
  float: left;
  margin: 30px 4px;
}
@media (max-width: 768px) {
  .editorias-footer {
    width: 90%;
    float: none;
    text-align: center;
    justify-content: center;
    border-top: 1px solid #c2c2c2;
    padding-top: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}

.editorias-right,
.editorias-left {
  width: 30%;
  height: auto;
  float: left;
  margin: 0px 0px;
}
@media (max-width: 768px) {
  .editorias-right,
  .editorias-left {
    width: 50%;
  }
}

.editorias-left {
  width: 30%;
  height: auto;
  float: left;
  margin: 0px 0px;
}
@media (max-width: 768px) {
  .editorias-left {
    width: 50%;
  }
}

.redes-socais-rodape {
  width: 100%;
  height: 30px;
  display: inline-flex;
  align-items: center;
}
@media (max-width: 768px) {
  .redes-socais-rodape {
    padding: 0 0 0 37%;
  }
}

.icon-social-rodape {
  width: 28px;
  height: 28px;
  margin: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.facebook {
  background-color: #1877f2;
  width: 25px;
  height: 25px;
}
.facebook svg {
  fill: #fff;
  width: 17px;
}

.instagram {
  background: linear-gradient(45deg, rgb(247, 223, 136) 0%, rgb(236, 117, 45) 25%, rgb(211, 46, 140) 50%, rgb(67, 108, 224) 100%);
  width: 25px;
  height: 25px;
}
.instagram svg {
  fill: #fff;
  width: 17px;
}

.twitter {
  background: #56a1f2;
  width: 25px;
  height: 25px;
}
.twitter svg {
  fill: #fff;
  width: 17px;
}

.youtube {
  background: #e92c01;
  width: 25px;
  height: 25px;
}
.youtube svg {
  fill: #fff;
  width: 17px;
}

.border-footer {
  width: 100%;
  border-bottom: 1px solid;
  padding-top: 234px;
  color: #e4dada;
}
@media (max-width: 768px) {
  .border-footer {
    width: 100%;
    color: #e4dada;
    border: none;
  }
}

.text-footre {
  color: #c2c2c2;
  margin-top: 15px;
  display: block;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  .text-footre {
    display: none;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  #form-search {
    display: none;
  }
  .menu,
  .search-mobile,
  .news-main-mobile {
    display: block;
  }
  .logo {
    max-width: 100%;
    width: 50%;
    margin-left: 40px;
    text-align: center;
    display: table;
    float: left;
    margin-top: -6px;
  }
  .logo svg {
    scale: 1.4;
    margin-left: 16px;
  }
  .info-topo {
    display: none;
  }
  .menu {
    position: fixed;
    left: -100%;
    top: 0;
    display: block;
    z-index: 1000;
    transition: all 200ms ease;
    background-color: #68962f;
    height: 100%;
    width: 80%;
    padding: 20px 20px;
  }
  .menu.open {
    left: 0;
  }
  .menu ul {
    display: block;
    overflow: hidden;
  }
  .menu li {
    display: block;
    padding: 20px 10px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
  .menu li:first-child {
    border-top: 0;
  }
  .material-symbols-outlined {
    float: right;
    margin-top: -5px;
    width: 25px;
    font-variation-settings: "FILL" 0, "wgh " 400, "GRAD" 0, "opsz" 24;
  }
  .menu li a {
    text-decoration: none;
    color: #fff;
    height: 20px;
  }
  .menu .sub-menu ul {
    position: relative;
    top: 0;
    background-color: rgba(157, 204, 100, 0.404);
    border-radius: 5px;
    margin-top: 15px;
  }
  .menu .sub-menu li {
    border: none;
  }
  .search-mobile {
    float: left;
    width: 30px;
    padding-top: 17px;
    text-align: left;
    cursor: pointer;
    margin-left: 78px;
  }
  .search-mobile svg {
    fill: #0884c2;
    float: left;
    scale: 0.8;
  }
  .column {
    flex: 1;
  }
  #desktop-visible {
    display: none;
  }
  .news-main-mobile {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0px 20px;
  }
  .text-news-main-mobile {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 20px;
    color: #fff;
    z-index: 99;
    padding: 20px;
  }
  .news-main-mobile figure {
    max-width: 100%;
    text-align: center;
  }
  .news-main-mobile figure img {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .text-news-main-mobile span {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .text-news-main-mobile h2 {
    color: #ffffff;
    padding-top: 10px;
  }
  #news {
    width: 350px;
    font-size: 10px;
    margin-left: 30px;
    padding: 10px 0;
  }
  #news h2 {
    font-size: 20px;
    color: #065e8a;
    margin-bottom: 5px;
  }
  .last-news {
    padding: 5px 0 5px 0;
  }
  .last-news-text p {
    color: #68962f;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    margin-top: 0px;
  }
  .last-news-text a {
    font-size: 15px;
  }
  .last-news-date {
    width: 40px;
    color: #000000;
    height: 55px;
    font-size: 12px;
    /*border: 1px solid;*/
  }
  /* Limpar floats após o conteúdo flutuante */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .banner {
    display: none;
  }
  img {
    border-radius: 10px;
  }
  .banner {
    width: 100%;
  }
  .videos {
    width: 100%;
    margin: 0px;
  }
  .videos h4 {
    color: #065e8a;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    border-bottom: 1px solid #dfd9d9;
    margin-left: 0;
    margin: 40px 0px 30px;
    padding: 0;
    padding-bottom: 20px;
  }
  .videos h3 {
    color: #fff;
    font-size: 17px;
  }
  .video-destaque {
    width: 100%;
    position: relative;
  }
  .video-destaque figure {
    width: 100%;
    display: block;
  }
  .video-destaque img {
    width: 100%;
    border-radius: 4px;
    scale: 1;
  }
  .text-video-destaque h4 {
    color: #ffffff;
    font-size: 15px;
    margin-top: 3px;
  }
  .colunistas {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
  }
  .colunistas h4 {
    color: #065e8a;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    border-bottom: 1px solid #dfd9d9;
    margin: 40px 0px 30px;
    padding-bottom: 20px;
  }
  .colunistas h6 {
    color: #68962F;
    font-size: 15px;
  }
  .colunistas p {
    color: #212121;
    font-size: 15px;
    font-weight: 700;
  }
  .colunistas figure {
    float: left;
    width: 80px;
  }
  .colunistas img {
    border-radius: 50px;
    width: 88%;
  }
  .text-colunistas {
    width: 100%;
    float: none;
    padding: 15px;
  }
  .colunista {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #dfd9d9;
  }
  .button-colunistas {
    width: 80%;
    color: #065e8a;
    background-color: white;
    font-size: 15px;
    font-weight: 800;
    margin: 14px 30px;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
  }
  .banner-last {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-top: 10px;
  }
  .banner-last img {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
  }
  .image-overlay-videos,
  .image-overlay {
    position: absolute;
    top: 20px;
    left: -33px;
    width: 100%;
    height: 89%;
    margin-left: 33px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    pointer-events: none;
    /* Evita que o degradê interfira com os elementos subjacentes */
    border-radius: 8px;
    z-index: 6;
  }
  .image-overlay {
    position: absolute;
    top: 146px;
    left: 21px;
    width: 90%;
    height: 64%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    pointer-events: none;
    /* Evita que o degradê interfira com os elementos subjacentes */
    border-radius: 8px;
    z-index: 6;
    margin: 0;
  }
  .banner-mobile {
    margin: 24px 33px;
    border-radius: 0;
  }
  .overlay-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4000px;
    background-color: rgba(0, 0, 0, 0.836);
    /* Evita que o degradê interfira com os elementos subjacentes */
    z-index: 2000;
    margin: 0;
  }
  .overlay-search .form-overlay {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    z-index: 9007199254740991;
    margin-top: 300px;
  }
  .overlay-search input {
    height: 30px;
    width: 80%;
    border: 0;
    width: 80%;
    color: #FFF;
    font-size: 20px;
    border-bottom: solid 1px;
    border-color: #000 #000 #32ac2e;
    background-color: transparent;
    padding: 0;
    text-transform: uppercase;
    margin-left: 40px;
    outline: 0;
  }
  .form-overlay input::-moz-placeholder {
    color: #fff;
  }
  .form-overlay input::placeholder {
    color: #fff;
  }
  .close-search {
    width: 100%;
    text-align: right;
    justify-content: right;
    color: #fff;
    margin-top: 0;
    padding: 20px;
    cursor: pointer;
  }
  .close-search span {
    float: right;
  }
  .overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 8, 0, 0.685);
    /* Evita que o degradê interfira com os elementos subjacentes */
    z-index: 100;
    margin: 0;
  }
  .overlay-menu.open {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */