@charset "UTF-8";
/* Reset de margens e preenchimentos para o corpo */
/*ATUALIZADA AS 14:43 25/08/2023*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "//Css/form-search";

a {
  text-decoration: none;
  color: #C2C2C2;
  padding-top: 2px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto
  
  main{
    max-width: 1400px;
  }
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #2da129;
  padding: 0 170px;
  margin-bottom: 35px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  justify-content: space-around;
  
  }

.grid3 {
  max-width: 33%;
  width: 33%;
  height: auto;
  padding: 0 0;
  text-align: center;
  float: left;
}

.clear {
  clear: both;
}

.logo {
  text-align: center;
  display: table;
}

.logo figure {
  max-width: 30%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.logo img{
  scale: 0.7;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

  
.info-topo {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 65px 0;
  
  &.direita{
    padding-left: 0px;
  }
}


.busca figure {
  float: left;
  display: flex;
}

.busca svg:hover {
  animation: bounce 0.9s ease-out;
}

.busca svg {
  fill: #065e8a;
  max-width: 20px;
  margin-left: 0px;

}

.busca {
  float: left;
  position: relative;
}

.data-busca{
  width: 100%;
  text-align: left;
  height: 20px;
}

.data-busca p {
  color: #c2c2c2;
  padding-left: 9px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
  font-weight: 300;
  
}

.divisor{
  width: 1px;
  height: 30px;
  background-color: #faeef5;
  content:  " ";
  float: left;

}

.data-busca a {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-top: 1px;
  text-decoration: none;
  color: #065E8A;
  font-size: 10px;
  font-weight: 900;

}

.info-topo #tel,
#location,
#data-topo {
  display: inline-flex;
  align-items: right;
  text-align: right;
  vertical-align: middle;
}

.temp {
  display: flex;
  vertical-align: middle;
  color: #065E8A;
  fill: #065E8A;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  scale: 0.8;
}

#tel img {
  text-align: center;
  vertical-align: middle;
  max-width: 18px;
  max-height: 20px;
  margin-right: 7px;
}

.direita a {
  text-decoration: none;
  color: #C2C2C2;
  font-size: 11px;
  padding-left: 10px;
  margin-right: 10px;
}

#cidade {
  width: auto;
  font-weight: bold;
  color: #757575;
  font-size: 11px;
  padding-top: 4px;
  padding-left: 10px;
  font-weight: 700;
  height: 20px;
  }

#location p {
  font-weight: bold;
  color: #c2c2c2;
  font-size: 11px;
  padding-bottom: 15px;
  padding: 10px;
}

/* Estilos para o menu de navegação */
#navbar {
  padding: 0px;
  text-align: left;
  display: table;
  font-size: 13px;
}

.nav-list {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 0px;
}

.nav-list li {
  margin: 0 0px;
  display: inline-block;
  font-weight: 300;
  padding-right: 40px;
}

.nav-list a {
  text-decoration: none;
  color: #065e8a;
  display: block;
  font-weight: 100;
}

.nav-list a:hover {
  color: #065e8a;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
}

#destaques {
  width: 65%;
  float: left;
  height: auto;
  padding: 0 0 0 170px;
}

.news-left {
  width: 35%;
  float: left;
  padding-right: 10px;
}

.news1 {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px 0px 5px 0;

}

.text-news-left {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  padding: 15px;
}

.news-left img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

#desktop-visible{
  padding: 10px 0;
}

.text-news-left span {
  font-size: 9px;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgb(114, 104, 104);
}

.text-news-left h2 {
  color: #ffffff;
  font-size: 10px;
  text-shadow: 1px 1px 5px rgb(114, 104, 104);
}

.news-left figure {
  max-width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.news-main {
  width: 65%;
  height: auto;
  float: left;
  position: relative;
  z-index: 1;
}

.news-main figure {
  max-width: 100%;
  width: 100%;
  height: 100%;
 
}

.news-main figure img {
  max-width: 100%;
  width: 100%;
  display: flex;
  border-radius: 8px;
}

.text-news-main {
  width: 90%;
  max-width: 90%;
  position: absolute;
  top: 70%;
  left: 0;
  margin: 0 15px;
}

.text-news-main span {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: #ffffff;
}

.text-news-main h2 {
  color: #ffffff;
  text-shadow: #ffffff;
}

#news {
  width: 30%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 170px 0 0;
}

.last-news {
  border-top: 1px solid #d1d1d1;
  padding: 5px 0 5px 0;
}

.last-news-text a{
  text-decoration: none;
  font-size: 9px;
  color: #212121;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  text-align: justify;
}

.last-news-text p :hover {
  color: #32ac2e;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
  text-decoration: none;
}

.last-news-text p {
  color: #68962f;
  margin: 0;
  font-size: 9px;
  line-height: 1.2;
}

.last-news-text {
  width: 85%;
  max-width: 85%;
}

.last-news-date {
  font-size: 8px;
  color: #C2C2C2;
  width: 20%;
  padding: 1px;
  float: left;
  height: 50px;
}

#news h2 {
  font-size: 17px;
  color: #065e8a;
  padding-bottom: 10px;

}

/*#busca input {
  padding: 10px;
  color: #888585;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-left: 1px solid;
}
*/

.hamburger {
  display: none;
  cursor: pointer;
  color: #29d123;
}

.menu,
.search-mobile,
.news-main-mobile {
  display: none;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
#form-search-mobile {
  display: none;
}

@media (max-width: 768px) {
  #form-search {
    display: none;
  }
  body {
    padding-left: 0 25px;
    z-index: 1000;
  }
  .menu,
  .search-mobile,
  .news-main-mobile {
    display: block;
  }
  .container {
    padding: 5px 0;
  }
  .logo {
    text-align: center;
    width: 260px;
  
  }
  .logo img {
    max-width: 250%;

  }
  .info-topo {
    display: none;
  }
  .menu {
    z-index: 1000;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #eee;
  }
  .menu.open ul {
    display: flex;
    z-index: 1000;
  }
  .menu li {
    display: block;
    margin: 10px;
  }
  .menu li a {
    text-decoration: none;
  }
  .menu .sub-menu ul {
    position: static;
  }
  .hamburger {
    display: block;
    font-size: 30px;
    float: left;
    padding-top: 56px;
    padding-left: 10px;
  }
  #navbar {
    display: none;
  }
  .search-mobile {
    float: left;
    width: 65px;
    margin-left: 50px;
    padding-top: 48px;
    text-align: left;
    cursor: pointer;
  }
  .search-mobile img {
    width: 60%;
  }
  header {
    margin: 0;
    height: auto;
    padding: 0;
  }
  .column {
    flex: 1;
  }
  #desktop-visible {
    display: none;
  }
  .news-main-mobile {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 5px;
  }
  .text-news-main-mobile {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 0;
    margin: 0 15px;
  }
  .news-main-mobile figure {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }
  .news-main-mobile figure img {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
  }
  .text-news-main-mobile span {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .text-news-main-mobile h2 {
    color: #ffffff;
  }
  #news {
    width: 90%;
    font-size: 10px;
    margin-left: 5px;
    padding: 0;
  }
  #news h2 {
    font-size: 20px;
    color: #065e8a;
    margin-bottom: 5px;
  }
  .last-news {
    padding: 5px 0 5px 0;  
  }

  .last-news-text p {
    color: #68962f;
    font-weight: 300;
    margin: 0;
    font-size: 11px;
    line-height: 1.2;
    margin-top: 0px;
  }
  #destaques {
    width: 100%;
    padding: 0 0 0 0;
    padding-top: 5px;

  }
  .last-news-text a {
    font-size: 13px;
  }
  
  .last-news-date {
    width: 40px;
    color: #000000;
    height: 55px;
    /*border: 1px solid;*/
  }
  /* Limpar floats após o conteúdo flutuante */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}
/*# sourceMappingURL=style.css.map */