@charset "UTF-8";

/* Reset de margens e preenchimentos para o corpo */
/*ATUALIZADA AS 14:43 25/08/2023*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0);
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;

  border: 0;
  border-bottom: 5px solid #29d123;
}

.grid3 {
  width: 33%;
  height: auto;
  padding: 10px;
  text-align: center;
  float: left;
}

.clear {
  clear: both;
}

#form-search {
  height: 10%;
  text-align: left;
  display: table;
}

#form-search form {
  display: table-cell;
  vertical-align: middle;
}

.logo {
  height: 80%;
  width: 30%;
  text-align: center;
  display: table;
}

.logo figure {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.info-topo {
  height: 100%;
  text-align: center;
  display: table;
  font-size: 0.7rem;
  padding-top: 61px;
  
}

.info-topo #tel,
#location,
#data-topo {
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
}

#tel img {
  text-align: center;
  vertical-align: middle;
  max-width: 20px;
  max-height: 20px;
  margin: 0 5px;
}

#tel a {
  text-decoration: none;
  color: #c2c2c2;
  text-align: center;
  font-size: 11px;
  padding-left: 10px;
}




#data-topo {
  color: #c2c2c2;
  font-weight: bold;
  color: #c2c2c2;
  font-size: 11px;
  padding-bottom: 1px;
}

#location p {
  font-weight: bold;
  color: #c2c2c2;
  font-size: 11px;
  padding-bottom: 1px;
  padding: 10px;
  
}

/* Estilos para o menu de navegação */
#navbar {
  padding: 0px;
  text-align: center;
  display: table;
  font-size: 15px;
}

.nav-list {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 10px;
}

.nav-list li {
  margin: 0 0px;
  display: inline-block;
  font-weight: 300;
  padding-left: 40px;
}

.nav-list a {
  text-decoration: none;
  color: #065e8a;
  display: block;
  
}

.nav-list a:hover {
  color: #065e8a;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
}

#destaques {
  width: 80%;
  float: left;
  height: auto;
}

.news-left {
  width: 30%;
  float: left;
}

.news1 {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
  margin: 15px;
}

.text-news-left {
  width: 90%;
  height: 50%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 10;
  padding: 5px;
}

.news-left img {
  max-width: 100%;
  border-radius: 8px;
}

.text-news-left span {
  font-size: 1rem;
  color: #ffffff;
}

.text-news-left h2 {
  color: #ffffff;
  font-size: 1.2rem;
}

.news-left figure {
  max-width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.news-main {
  width: 70%;
  float: left;
  position: relative;
  z-index: 1;
  padding: 15px 10px 15px 5px;
}

.news-main figure {
  max-width: 100%;
  width: 100%;
  text-align: center;
}

.news-main figure img {
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
}

.text-news-main {
  width: 90%;
  max-width: 90%;
  position: absolute;
  top: 80%;
  left: 0;
  margin: 0 15px;
}

.text-news-main span {
  font-size: 1.2rem;
  color: #ffffff;
}

.text-news-main h2 {
  color: #ffffff;
}

#news {
  width: 20%;
  float: left;
  margin-top: 15px;
  text-decoration: none;
  font-size: 0.9rem;
}

.last-news {
  border-top: 1px solid #d1d1d1;
  padding: 5px 0;
}

.last-news-text a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #212121;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  text-align: justify;
}

.last-news-text p {
  color: #68962f;
  font-weight: 300;
  margin: 0;
  font-size: 0.5rem;
  line-height: 1.2;
}

.last-news-text {
  width: 85%;
  max-width: 85%;
}

.last-news-date {
  font-size: 0.7rem;
  color: #c2c2c2;
  width: 15%;
  padding: 1px;
  float: left;
  height: 65px;
}

#news h2 {
  font-size: 1.4rem;
  color: #065e8a;
}

#busca input {
  padding: 10px 20px;
  color: #888585;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
  color: #29d123;
}

.menu,
.search-mobile,
.news-main-mobile {
  display: none;
}

#form-search-mobile {
  display: none;
}

@media (max-width: 768px) {
  #form-search {
    display: none;
  }

  body {
    padding-left: 0 25px;
    z-index: 1000;
  }

  .menu,
  .search-mobile,
  .news-main-mobile {
    display: block;
  }

  .container {
    padding: 5px 0;
  }

  .logo {
    text-align: center;
    max-height: 80px;
    width: 242px;
    float: left;
  }

  .logo img {
    max-width: 90%;
  }

  .info-topo {
    display: none;
  }

  .menu {
    z-index: 1000;
  }

  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #eee;
  }

  .menu.open ul {
    display: flex;
    z-index: 1000;
  }

  .menu li {
    display: block;
    margin: 10px;
  }

  .menu li a {
    text-decoration: none;
  }

  .menu .sub-menu ul {
    position: static;
  }

  .hamburger {
    display: block;
    font-size: 30px;
    float: left;
    padding-top: 46px;
    padding-left: 10px;
  }

  #navbar {
    display: none;
  }

  .search-mobile {
    float: left;
    width: 65px;
    padding-top: 40px;
    text-align: left;
    cursor: pointer;
  }

  .search-mobile img {
    width: 60%;
  }

  header {
    height: auto;
  }

  .column {
    flex: 1;
  }

  #desktop-visible {
    display: none;
  }

  .news-main-mobile {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 5px;
  }

  .text-news-main-mobile {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
    margin: 0 15px;
  }

  .news-main-mobile figure {
    max-width: 86%;
    width: 100%;
    text-align: center;
  }

  .news-main-mobile figure img {
    max-width: 100%;
    width: 100%;
    border-radius: 8px;
  }

  .text-news-main-mobile span {
    font-size: 1.2rem;
    color: #ffffff;
  }

  .text-news-main-mobile h2 {
    color: #ffffff;
  }

  #news {
    width: 90%;
    font-size: 10px;
    margin-left: 5px;
  }

  #news h2 {
    font-size: 20px;
    color: #065e8a;
    margin-bottom: 10px;
  }

  .last-news-text p {
    color: #68962f;
    font-weight: 300;
    margin: 0;
    font-size: 11px;
    line-height: 1.2;
    margin-top: 8px;
  }

  #destaques {
    width: 90%;
    padding-top: 5px;
  }

  .last-news-text a {
    font-size: 13px;
  }

  .last-news-date {
    color: #000000;
    padding-bottom: 100px;
    /*border: 1px solid;*/
    padding-bottom: 10px;
  }

  /* Limpar floats após o conteúdo flutuante */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

/*# sourceMappingURL=style.css.map */