@charset "UTF-8";
/* Reset de margens e preenchimentos para o corpo */
/*ATUALIZADA AS 14:43 25/08/2023*/
@import "//Css/form-search";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #C2C2C2;
  padding-top: 2px;
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}
body main {
  max-width: 1400px;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  border: 0;
  border-bottom: 5px solid #68962f;
  padding: 0 170px;
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  justify-content: space-around;
}

.grid3 {
  max-width: 33%;
  width: 33%;
  height: auto;
  padding: 0 0;
  text-align: center;
  float: left;
}

.clear {
  clear: both;
}

.logo {
  max-width: 70%;
  fill: #68962f;
  margin-top: 18px;
  padding-left: 20px;
  text-align: center;
  display: table;
  scale: 0.6;
}

.logo svg {
  width: 100%;
  fill: #065e8a;
}

.logo svg .simboloLogo {
  fill: #68962f;
}

.info-topo {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 65px 0;
}
.info-topo.direita {
  padding-left: 0px;
}

.busca figure {
  float: left;
  display: flex;
}

.busca svg:hover {
  animation: bounce 0.9s ease-out;
}

.busca svg {
  fill: #065e8a;
  max-width: 20px;
  margin-left: 0px;
}

.busca {
  float: left;
  position: relative;
}

.data-busca {
  width: 100%;
  text-align: left;
  height: 20px;
}

.data-busca p {
  color: #c2c2c2;
  padding-left: 9px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  vertical-align: middle;
  padding-top: 8px;
  font-weight: 300;
}

.divisor {
  width: 1px;
  height: 30px;
  background-color: #faeef5;
  content: " ";
  float: left;
}

.data-busca a {
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-top: 1px;
  text-decoration: none;
  color: #065E8A;
  font-size: 10px;
  font-weight: 900;
}

.info-topo #tel,
#location,
#data-topo {
  display: inline-flex;
  align-items: right;
  text-align: right;
  vertical-align: middle;
}

.temp {
  display: flex;
  vertical-align: middle;
  color: #065E8A;
  fill: #065E8A;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  scale: 0.8;
}

#tel img {
  text-align: center;
  vertical-align: middle;
  max-width: 18px;
  max-height: 20px;
  margin-right: 7px;
}

.direita a {
  text-decoration: none;
  color: #C2C2C2;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3px;
}

#cidade {
  width: auto;
  font-weight: bold;
  color: #757575;
  font-size: 11px;
  padding-top: 4px;
  padding-left: 10px;
  font-weight: 700;
  height: 20px;
}

#location p {
  font-weight: bold;
  color: #c2c2c2;
  font-size: 11px;
  padding-bottom: 15px;
  padding: 10px;
}

/* Estilos para o menu de navegação */
#navbar {
  padding: 0px;
  text-align: left;
  display: table;
  font-size: 13px;
  width: 100%;
}

.nav-list {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 0px;
}

.nav-list li {
  margin: 0 0px;
  display: inline-block;
  margin-right: 25px;
}

.nav-list a {
  text-decoration: none;
  color: #065e8a;
  display: block;
  font-weight: 400;
}

.nav-list a:hover {
  color: #065e8a;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
}

/* INICIO CSS DO SUB-MENU ESPECIAIS */
#navbar .sub-menu {
  display: none;
  position: absolute;
  background-color: #68962f;
  z-index: 300;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  left: 220px;
  animation: slideDown 0.5s ease-in-out;
  margin-top: 8px;
}

#navbar .sub-menu ul {
  width: 100%;
}

#navbar .sub-menu li {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px #ffffff;
}

#navbar .sub-menu li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* FIM CSS DO SUB-MENU ESPECIAIS */
.sub-menu-especiais:after {
  content: "▼";
  margin-top: -10px;
  display: flex;
  font-size: 5px;
  float: left;
  padding-left: 63px;
  padding-top: 3px;
  color: #065e8a;
}

.sub-menu-especiais li {
  position: relative;
}

.sub-menu-editorias:after {
  content: "▼";
  margin-top: -10px;
  display: flex;
  font-size: 5px;
  float: left;
  padding-left: 59px;
  padding-top: 3px;
  color: #065e8a;
}

/* INICIO CSS DO SUB-MENU EDITORIAS */
#navbar .sub-menu2 {
  display: none;
  position: absolute;
  background-color: #68962f;
  z-index: 300;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  left: 420px;
  animation: slideDown 0.5s ease-in-out;
  margin-top: 8px;
}

#navbar .sub-menu2 ul {
  width: 100%;
}

#navbar .sub-menu2 li {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px #ffffff;
}

#navbar .sub-menu2 li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* FIM CSS DO SUB-MENU EDITORIAS */
/* INICIO CSS DO SUB-MENU ESPECIAIS */
#navbar .sub-menu3 {
  display: none;
  position: absolute;
  background-color: #68962f;
  z-index: 300;
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  left: 1020px;
  animation: slideDown 0.5s ease-in-out;
  margin-top: 8px;
}

#navbar .sub-menu3 ul {
  width: 100%;
}

#navbar .sub-menu3 li {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  justify-content: center;
  border-bottom: solid 1px #ffffff;
}

#navbar .sub-menu3 li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

/* FIM CSS DO SUB-MENU ESPECIAIS */
#navbar .sub-menu-editorias .sub-menu {
  top: 27%;
  left: 320px;
}

#navbar .sub-menu-editorias li {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  margin-left: 13px;
  justify-content: center;
  padding-right: 0;
  border-bottom: solid 1px #ffffff;
}
#navbar .sub-menu-editorias li a {
  color: #ffffff;
  font-weight: 900;
  text-decoration: none;
}

.especiais-right {
  margin-left: 515px;
  float: right;
}

.especiais-right:after {
  content: "▼";
  margin-top: -10px;
  font-size: 5px;
  float: right;
  padding-left: 63px;
  padding-top: 3px;
  color: #065e8a;
}

#destaques {
  width: 65%;
  float: left;
  height: auto;
  padding: 0 0 0 170px;
}

.news-left {
  width: 34%;
  float: left;
  padding-right: 10px;
}

.image-overlay, .image-overlay-videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
  pointer-events: none;
  /* Evita que o degradê interfira com os elementos subjacentes */
  border-radius: 8px;
  z-index: 6;
}

.banner {
  width: 85%;
  justify-content: center;
  padding-left: 170px;
  padding-bottom: 15px;
}

.news1 {
  z-index: 1;
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px 0px 10px 0;
}

.text-news-left {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  padding: 20px;
}

.news-left img {
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
}

#desktop-visible {
  padding: 10px 0;
}

.text-news-left span {
  font-size: 10px;
  color: #ffffff;
}

.text-news-left h2 {
  color: #ffffff;
  font-size: 11px;
  margin-top: 3px;
}

.news-left figure {
  max-width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.news-main {
  width: 65%;
  height: 320px;
  float: left;
  position: relative;
  z-index: 1;
}

.news-main figure {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.news-main figure img {
  max-width: 100%;
  width: 100%;
  display: flex;
  border-radius: 8px;
}

.text-news-main {
  width: 90%;
  max-width: 90%;
  position: absolute;
  top: 70%;
  left: 0;
  margin: 0 15px;
  z-index: 11;
}

.text-news-main span {
  font-size: 1.2rem;
  color: #ffffff;
}

.text-news-main h2 {
  color: #ffffff;
  margin-top: 5px;
}

#news {
  width: 30%;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0 170px 0 0;
}

.last-news {
  border-top: 1px solid #d1d1d1;
  padding: 5px 0 5px 0;
}

.last-news-text a {
  text-decoration: none;
  font-size: 9px;
  color: #212121;
  margin: 0;
  line-height: 1;
  font-weight: bold;
  text-align: justify;
}

.last-news-text p :hover {
  color: #32ac2e;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
  text-decoration: none;
}

.last-news-text p {
  color: #68962f;
  margin: 0;
  font-size: 9px;
  line-height: 1.2;
}

.last-news-text {
  width: 85%;
  max-width: 85%;
}

.last-news-date {
  font-size: 8px;
  color: #C2C2C2;
  width: 20%;
  padding: 1px;
  float: left;
  height: 50px;
}

#news h2 {
  font-size: 17px;
  color: #065e8a;
  padding-bottom: 10px;
}

/*#busca input {
  padding: 10px;
  color: #888585;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-left: 1px solid;
}
*/
.hamburger {
  display: none;
  cursor: pointer;
  color: #86c23c;
}

.menu,
.search-mobile,
.news-main-mobile {
  display: none;
}

.button-news {
  padding: 12px 1px;
  width: 100%;
  color: #065e8a;
  background-color: white;
  border: 1px solid #065e8a;
  font-size: 15px;
  font-weight: 800;
  margin: 14px 0;
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
}

.news-down {
  float: left;
  width: 210px;
  float: left;
  margin-top: 3px;
}
.news-down h6 {
  margin-top: 8px;
  color: #68962f;
  font-weight: normal;
}
.news-down h3 {
  color: #212121;
  font-weight: 900;
  font-size: 13px;
  margin-top: 3px;
}
.news-down h3 a {
  color: #212121;
}

.margin-right {
  margin-right: 14px;
}

.news-down img {
  border-radius: 4px;
  max-width: 100%;
  scale: 1;
}

.news-down-text {
  font-size: 15px;
}

.news-down a:hover {
  color: #68962f;
  /* Cor ao passar o mouse */
  -webkit-text-decoration: underline green 2px;
  text-decoration: underline green 2px;
  text-decoration: none;
}

.button-news:hover {
  text-decoration: none;
  background-color: #0e80b9;
  color: white;
}

.banner-last {
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  margin-top: 50px;
}

.banner-last img {
  width: 80%;
  padding-top: 15px;
  padding-left: 300px;
  padding-bottom: 15px;
}
.banner-last img .last-banner {
  width: 55%;
  margin-left: 290px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.publicitario {
  width: 73%;
  height: auto;
  padding: 10px 0px;
  border-top: 1px solid #dfd9d9;
  border-bottom: 1px solid #dfd9d9;
  margin-left: 170px;
  min-height: 160px;
}

.espaco-publicitario {
  width: 50%;
  float: left;
}

.espaco-publicitario h2 {
  color: #065e8a;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  margin-left: 170px;
  margin-bottom: 10px;
}

.publicitario h3 {
  font-size: 18px;
  margin-top: 5px;
}

.img-publicitario {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

.publicitario a {
  color: #68962F;
  width: 100%;
}

.publicitario figure {
  width: 35%;
  margin-right: 10px;
  float: left;
}

.text-publicitario {
  width: 60%;
  float: left;
  margin-top: 12px;
}

.videos {
  width: 20%;
  margin-left: 10px;
  float: left;
}
.videos h4 {
  color: #065e8a;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfd9d9;
  padding-bottom: 10px;
}
.videos h3 {
  color: #fff;
  font-size: 14px;
  line-height: 1;
}

.video-destaque {
  width: 95%;
  position: relative;
  min-height: 140px;
}
.video-destaque figure {
  width: 100%;
}
.video-destaque img {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

.text-video-destaque {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 15px;
  text-align: left;
}

.text-video-destaque h4 {
  color: #ffffff;
  font-size: 15px;
  margin-top: 3px;
}

.colunistas {
  width: 20%;
  margin-left: 10px;
  float: left;
}
.colunistas h4 {
  color: #065e8a;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 900;
  width: 80%;
  margin-bottom: 10px;
  border-bottom: 1px solid #dfd9d9;
  padding-bottom: 10px;
}
.colunistas h6 {
  color: #68962F;
  font-size: 8px;
  margin-bottom: 2px;
}
.colunistas p {
  color: #212121;
  font-size: 12px;
  font-weight: 700;
}
.colunistas figure {
  float: left;
  width: 40px;
  margin: 0 10px 0 0;
}
.colunistas img {
  border-radius: 50px;
  width: 100%;
}

.text-colunistas {
  float: left;
  width: 60%;
  margin-top: 10px;
}

.colunista {
  width: 80%;
  height: 50px;
  margin-top: 20px;
  border-bottom: 1px solid #dfd9d9;
}

.button-colunistas {
  width: 70%;
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  #form-search {
    display: none;
  }
  body {
    padding-left: 0px;
    z-index: 1000;
    width: 100%;
    height: auto;
  }
  .menu,
  .search-mobile,
  .news-main-mobile {
    display: block;
  }
  .container {
    padding: 5px 0;
  }
  .logo {
    max-width: 100%;
    width: 50%;
    margin-left: 40px;
    text-align: center;
    display: table;
    float: left;
    margin-top: -12px;
  }
  .logo svg {
    scale: 0.8;
  }
  .info-topo {
    display: none;
  }
  .menu {
    z-index: 1000;
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #eee;
  }
  .menu.open ul {
    display: flex;
    z-index: 1000;
  }
  .menu li {
    display: block;
    margin: 10px;
  }
  .menu li a {
    text-decoration: none;
  }
  .menu .sub-menu ul {
    position: static;
  }
  .hamburger {
    display: block;
    font-size: 30px;
    float: left;
    padding-top: 5px;
    padding-left: 10px;
  }
  #navbar {
    display: none;
  }
  .search-mobile {
    float: left;
    width: 30px;
    padding-top: 5px;
    text-align: left;
    cursor: pointer;
    margin-left: 60px;
  }
  .search-mobile svg {
    fill: #0884c2;
    float: left;
    scale: 0.8;
  }
  header {
    margin: 10px;
    height: 70px;
    padding: 0px 10px;
  }
  .column {
    flex: 1;
  }
  #desktop-visible {
    display: none;
  }
  .news-main-mobile {
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 0px;
  }
  .text-news-main-mobile {
    width: 320px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    margin: 0 15px;
    color: #fff;
    z-index: 99;
  }
  .news-main-mobile figure {
    max-width: 100%;
    text-align: center;
  }
  .news-main-mobile figure img {
    max-width: 100%;
    width: 356px;
    border-radius: 8px;
  }
  .text-news-main-mobile span {
    font-size: 1.2rem;
    color: #ffffff;
  }
  .text-news-main-mobile h2 {
    color: #ffffff;
    padding-top: 10px;
  }
  #news {
    width: 350px;
    font-size: 10px;
    margin-left: 30px;
    padding: 10px 0;
  }
  #news h2 {
    font-size: 20px;
    color: #065e8a;
    margin-bottom: 5px;
  }
  .last-news {
    padding: 5px 0 5px 0;
  }
  .last-news-text p {
    color: #68962f;
    font-weight: 300;
    margin: 0;
    font-size: 11px;
    line-height: 1.2;
    margin-top: 0px;
  }
  #destaques {
    width: 100%;
    padding: 0 0 0 0;
    padding-top: 5px;
  }
  .last-news-text a {
    font-size: 13px;
  }
  .last-news-date {
    width: 40px;
    color: #000000;
    height: 55px;
    /*border: 1px solid;*/
  }
  /* Limpar floats após o conteúdo flutuante */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  .banner {
    display: none;
  }
  .espaco-publicitario {
    width: 100%;
    display: block;
  }
  .publicitario {
    width: 100%;
    height: auto;
    border-top: 1px solid #dfd9d9;
    border-bottom: 1px solid #dfd9d9;
    margin-left: 0;
    min-height: 325px;
    padding: 8px;
  }
  .espaco-publicitario h2 {
    color: #065e8a;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 30px;
  }
  .publicitario figure {
    width: 90%;
    margin-left: 23px;
    display: block;
  }
  img {
    border-radius: 10px;
  }
  .text-publicitario {
    width: 100%;
    padding: 0px 15px;
  }
  .banner {
    width: 100%;
  }
  .videos {
    width: 100%;
    margin-left: 10px;
    float: left;
  }
  .videos h4 {
    color: #065e8a;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfd9d9;
    padding: 5px 10px;
  }
  .videos h3 {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
  }
  .video-destaque {
    width: 100%;
    position: relative;
    min-height: 140px;
    padding: 8px;
  }
  .video-destaque figure {
    width: 90%;
    margin-left: 13px;
    display: block;
  }
  .video-destaque img {
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    scale: 1;
  }
  .text-video-destaque {
    width: 320px;
    position: absolute;
    left: 35px;
    top: 80px;
    z-index: 10;
    padding: 0px;
    text-align: left;
  }
  .text-video-destaque h4 {
    color: #ffffff;
    font-size: 15px;
    margin-top: 3px;
  }
  .colunistas {
    width: 100%;
    margin-left: 10px;
    float: left;
  }
  .colunistas h4 {
    color: #065e8a;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfd9d9;
    padding: 5px 10px;
  }
  .colunistas h6 {
    color: #68962F;
    font-size: 15px;
    margin-bottom: 2px;
  }
  .colunistas p {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
  }
  .colunistas figure {
    float: left;
    width: 80px;
    margin: 0 10px 0 0;
  }
  .colunistas img {
    border-radius: 50px;
    width: 100%;
  }
  .text-colunistas {
    float: left;
    width: 70%;
    margin-top: 20px;
  }
  .colunista {
    width: 100%;
    height: 100px;
    margin-top: 20px;
    border-bottom: 1px solid #dfd9d9;
  }
  .button-colunistas {
    width: 80%;
    color: #065e8a;
    background-color: white;
    font-size: 15px;
    font-weight: 800;
    margin: 14px 35px;
    font-size: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
  }
  .banner-last {
    width: 100%;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    margin-top: 50px;
  }
  .banner-last img {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
  }
  .image-overlay-videos, .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 356px;
    height: 100%;
    margin-left: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    pointer-events: none;
    /* Evita que o degradê interfira com os elementos subjacentes */
    border-radius: 8px;
    z-index: 6;
  }
  .image-overlay {
    position: absolute;
    top: 0;
    left: 8px;
    width: 356px;
    height: 100%;
    margin-left: 18px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    pointer-events: none;
    /* Evita que o degradê interfira com os elementos subjacentes */
    border-radius: 8px;
    z-index: 6;
  }
}/*# sourceMappingURL=style.css.map */